@model Project.Models.Product

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<div>
    <a href="../Products/Index">Quản lý sản phẩm</a>
</div>
<div>
    <a href="../ActiveCustomers/Index">Quản lý người dùng</a>
</div>
